

/*
Author: Bootstrapthemes
Author URI: http://www.bootstrapthemes.co
*/

/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {
    body {
        font-size: 1rem;
    }
    .btn-md {
        padding: 10px 20px 10px 0px;
    }

}
@media (max-width: 995px) {
    /*.footer-frame {
        max-height: 500px;
    }*/

}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    html {
        font-size: 90%;
    }

    h3 {
        font-size: 1.575rem;
        line-height: 2rem;
        margin-bottom: 15px;
    }
    h5 {
        font-size: 1.1rem;
        margin-bottom: .5rem;
        color: #696f7c;
        line-height: 1.475rem;
    }
    .choose .main_choose .single_choose{
        margin-top:80px;
    }
    .btn-md {
        padding: 10px 5px 10px 0px;
    }
    button.btn-md{
        font-size:0.675rem;
    }


}
/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {
    html {
        font-size: 80%;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
        text-align: center;
    }
    .main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
        border-bottom: 0px solid;
    }
    .btn-md {
        padding: 10px 20px 10px 0px;
    }
    button.btn-md{
        font-size:0.875rem;
    }
    .toolbar{
        text-align: center;
    }


    .copyright_text{
        text-align: center;
    }
    .footer_socail{ 
        text-align: center;
    }
    .footer_subcribs_area .navbar-form {
        padding: 10px;
    }

   
    .navbar-form {
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
        -webkit-box-shadow: inset 0 0px 0 rgba(255,255,255,.1),0 0px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 0px 0 rgba(255,255,255,.1),0 0px 0 rgba(255,255,255,.1);
    }


    .footer .flowus{
        text-align: center;
    }
    .copyright_text{
        text-align: center;
    }


    .navbar-default .navbar-collapse {
        overflow-y:scroll;border-color: transparent;
        background-color: rgba(0,0,0,0.5);
        text-align: center;
        width: 100%;
        margin: 10px 0px;
        max-height: 390px;
  }
    .navbar .container-fluid{
        padding: 0;
    }
    .navbar-collapse ul{
        margin-right: 0;
        max-height: 390px;
        overflow-y:scroll;
    }

}



/* Landscape phones and smaller */
@media (max-width: 479px) {
    html {
        font-size: 65%;
    }
    .btn-md {
        padding: 10px 10px 10px 0px;
    }
}





@media (max-width: 320px) {


    html {
        font-size: 60.5%;
    }

}

@media (max-width: 1050px) and (min-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        background-color: #373942;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-default .navbar-collapse{
        
        overflow-y:scroll;border-color: transparent;
        background-color: rgba(0,0,0,0.5);
        text-align: center;
        width: 100%;
        margin: 10px 0px;
        max-height: 390px;
    }
    .navbar .container-fluid{
        padding: 0;
    }
    .navbar-collapse ul{
        margin-right: 0;
        max-height: 390px;
        overflow-y:scroll;
    }
    .main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
        border-style: none;
    }

    .veti-line{
        position: relative;
        left: 0px;
    }
    .navbar_logo a{
        position: relative;
        left: 20px;
    }
    #erweima{
        position: absolute;
        width: 30%;
        right: 35%;
        height: 300px;
        bottom: 0;
        margin: 0 auto;
        z-index: 1000;
    }
}
/*-----------------------------------------*/
@media (max-width: 767px){
    .navbar_logo a{
        position: relative;
        left: 20px;
    }
    .navbar-header .navbar-toggle{
        position: relative;
        right: 20px;
    }
}
@media (max-width: 767px){
    .footer .main_footer .coll p{
        text-align: center;
    }
    .footer .main_footer .coll{
        position: absolute;

    }
    .footer .main_footer .coll-son{
        background-color: #000;
        margin:0 30%;
        opacity: 0.8;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .footer .main_footer .coll{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .footer .main_footer .coll{
        float: right;
    }
}
@media (min-width: 768px){
    .footer .main_footer .coll p{
        text-align: right;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    #respon_p p{
        font-size: 1rem;
    }
}